.h-100.d-flex.justify-content-center.align-items-center {
  background-color: #121212;
  background-image: url(../../../assets/jumbotron.jpg);
}

.card {
  background-color: #343a40;
  background-color: rgba(52, 58, 64, 0.6);
}

h4, label {
  color: white;
}

.btn {
  border-radius: 40px;
}

.login {
  height: 100%;
}

.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #121212;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
