.sidenav {
    min-height: 100vh;
    background-color: #343a40;
}

h1 {
    color: white;
    font-weight: 300;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: .5rem;
}

a {
    font-weight: 300;
    color: white;
}

a:hover {
    color: white;
    background-color: #121212;
}